# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.manifest

# Virtual environment
venv/
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test coverage and profiling
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Logs
website/logs
website/*.log
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/pnpm-debug.log*
website/lerna-debug.log*

website/node_modules
website/dist
website/dist-ssr
website/*.local

# Editor directories and files
website/.vscode/*
website/!.vscode/extensions.json
website/.idea
website/.DS_Store
website/*.suo
website/*.ntvs*
website/*.njsproj
website/*.sln
website/*.sw?
